.sidebar-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 50px;
}

.sidebar-item-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.menu-icon {
  margin-right: 17px;
}

.menu-icon__active {
  margin-right: 17px;
  /* color: #fbb30b; */
}

.sidebar-item__active {
  color: #fbb30b;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 50px;
}
