.react-tabs {
  /* -webkit-tap-highlight-color: transparent; */
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #e3e3e3;
  margin: 0 0 45px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  border-bottom: 2px solid #fbb30b;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.gigs-number {
  border: 1px solid #fbb30b;
  padding: 4px 10px 4px 10px;
  font-size: 10px;
  background-color: #fbb30b;
  color: #ffffff;
  border-radius: 10px;
}

.create-user-select-half {
  width: 8rem;
}

.tab-keyword-wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}

.tab-item-container {
  border: 1px solid #eeeeee;
  padding: 4px 25px 4px 25px;
  border-radius: 8px;
  color: #bcbcbc;
  font-size: 13px;
  display: flex;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}
